<div class="container">
  <h2>Hi {{user.name}}! Are you ready to start your job search!</h2>
  <p>
    You're ready to start a new career in coding! Which option below best describes your coding experience so far?
  </p>
  <p>
    Your score is: {{user.score}}.
  </p>
  <p>I've been learning on my own for the past 6 months.</p>
  <a routerLink="/code-school"><button>Go!</button><br></a>
  <p>I just completed my Epicodus internship and I'm ready to go.</p>
  <a routerLink="/storys/0"><button>Go!</button></a>
</div>
